
.icon-book:before { content: '\e801'; } /* '' */
.icon-mail-circled:before { content: '\e808'; } /* '' */
.icon-spotify:before { content: '\e80c'; } /* '' */
.icon-facebook-circled:before { content: '\e80e'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */