html { height: 100%; }
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: white;
  
  background: url(../img/elias-eine-1920-90.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #FDEB9C;
  transition: color .3s ease;
  text-decoration: none;
}
a:hover { color: #F4CE6E; }

header {
  text-align: right;
  padding: 3%;
}

#title {
  font-family: 'Amatic SC';
  font-size: 1.85em;
  opacity: 0.3;
  margin: 0;
}
.title-space { margin: 0 0.1em; }

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-container a { color: white; }
.social-container a:hover { color: #F4CE6E; }
.social-item {
  opacity: 0;
  transition: transform .3s ease-in-out;
}
.social-item:hover { transform: scale(1.1, 1.1); }
.social-info {
  text-align: center;
  font-size: 14px;
  min-height: 15px;
}

.social-container {
  font-size: 3em;

  align-self: flex-end;
  margin-right: 10%;
  
  display: -ms-flexbox;   /* IE 10 */
  display: -webkit-flex;  /* Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  
  transition: all 1s ease-in-out;
}

#lyrics-button.active a {
  color: #F4CE6E;
}

.lyrics-container {
  display: none;

  align-self: center;
  width: 90%;
}
.lyrics {
  font-family: 'Source Sans Pro';
  font-weight: 300;
}

.accordion {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.accordion-header {
  display: flex;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  cursor: pointer;

  margin-top: 4px;
  margin-bottom: 1px;
  padding: 20px;
  border-radius: 0 6px 0 0;


  transition: all 0.2s ease-in-out;
}
.accordion-header:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.accordion-header a {
  color: white;
  transition: all .3s ease-in-out;
}
.accordion-header a:hover {
  color: #F4CE6E;
  transform: scale(1.1, 1.1); 
}
.accordion-body {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);

  padding: 20px;

  border-radius: 0 0 6px 0;
}

/* Make icons appear same size */
.icon-spotify { font-size: 1.15em; }
.icon-mail-circled { font-size: 1em; }
.icon-facebook-circled { font-size: 1.08em; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  font-size: 13px;
}

#info {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

#photo-attribution {
  text-align: right;
  padding: 1em;
}


/*** MEDIA QUERIES ***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header { padding: 5%; }
  #title { font-size: 4.5em; }

  .lyrics-container { width: 50%; }
  .social-container { font-size: 6em; }
  .social-item:hover .social-info { opacity: 1; }
  .social-info {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .accordion-header {
    font-size: 2em;
  }
  
  #info > li { display: inline-block; }
  #info > li:not(:last-child):after { content: ' //\00a0'; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #title { font-size: 5.5em; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #title { font-size: 6.5em; }
  .lyrics-container { width: 40%; }
  .social-container { font-size: 7em; }
}
