html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
  font-family: 'Source Sans Pro';
  font-weight: 300;
  color: white;
  background: #1E0000;
}

body {
  background: url(../img/elias-eine-1920-90.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body { display: none; }

a {
  color: #FDEB9C;
  transition: color .3s ease;
  text-decoration: none;
}
a:hover { color: #F4CE6E; }

header {
  float: right;
  text-align: right;
  padding: 3%;
}

#title {
  font-family: 'Amatic SC';
  font-size: 1.85em;
  opacity: 0.3;
  margin: 0;
}
.title-space { margin: 0 0.1em; }

.social-container a { color: white; }
.social-container a:hover { color: #F4CE6E; }
.social-item {
  opacity: 0;
  transition: transform .3s ease-in-out;
}
.social-item:hover { transform: scale(1.1, 1.1); }
.social-info {
  text-align: center;
  font-size: 12px;
  min-height: 15px;
}

.social-container {
  position: absolute;
  width: 72%;
  right: 0;
  bottom: 1.7em;
  font-size: 3em;
  
  display: -ms-flexbox;   /* IE 10 */
  display: -webkit-flex;  /* Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;          /* Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
}

/* Make icons appear same size */
.icon-spotify { font-size: 1.15em; }
.icon-mail-circled { font-size: 1em; }
.icon-facebook-circled { font-size: 1.08em; }

footer {
  width: 100%;
  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: space-between;

  font-size: 11px;
}

#info {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

#photo-attribution {
  text-align: right;
  padding: 1em;
}
#photo-attribution {
  position: absolute;
  bottom: 0;
  right: 0;
}


/*** MEDIA QUERIES ***/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header { padding: 5%; }
  #title { font-size: 4.5em; }

  .social-container {
    font-size: 7em;
    bottom: 1em;
  }
  .social-item:hover .social-info { opacity: 1; }
  .social-info {
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }
  
  #info > li { display: inline-block; }
  #info > li:not(:last-child):after { content: ' //\00a0'; }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #title { font-size: 5.5em; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #title { font-size: 6.5em; }
  .social-container { bottom: 0.3em; }
}
